.image-message {
  padding: 2px;
  width: 88%;
  height: 55%;
  max-width: 555px;
}

.channel-title{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 7px;
  margin: 0;
}

.channel-users{
  text-align: center;
  font-size: 0.9rem;
  margin: 0;
}

.container-messages{
  min-height: 222px;
}